Create a meal plan for {{user_name}}.
The meal plan should follow the dietary restrictions of a typical {{diet_preference}} diet. 
There should be at least {{number_of_meals}} a day created, for a total of {{number_of_days}} days
The goal of the diet is {{diet_goal}} and thus the meal plan should align with this. Avoid too many meals that don't align with {{diet_goal}}
The meal plan should consists of meals {{user_name}} can make at home. 
The dinner portion should include an additional alternate meal for restuarant dining options. 
The lunch portion should include an alternate meal for cafeteria food options. 

{{user_name}}, has an allergy to {{allergy_list}} , you will **AVOID** those at all cost!! 